@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-crust: #0f0000;
  --color-crust-text: #ffffff;
  --color-accent: #a7ef5f;
  --color-muted: #ffc9c9;
  --color-background: #fdf2f2;
  --color-heading: #3f1717;
  --color-text: #3f1717;
  --color-input: #3f3939;

  --font-instrument: "Instrument Sans", system-ui, sans-serif;
  --font-heading: var(--font-instrument);
  --font-sans: "Atkinson Hyperlegible", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
}

.prose {
  font-size: 20px;
  color: var(--color-text);
}

.prose a {
  color: var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--color-heading);
}
