---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<Layout>
  <pre>
    {posts.map((post) => (
      <li>
		{JSON.stringify(post, null, 2)}
        {post.data.properties.Name}
        {post.data.properties.Name}
      </li>
    ))}
  </pre>
</Layout>
