---
import ArrowRight from "@assets/arrow-right.svg";

const linkColumns = [
  {
    title: "Links",
    links: [
      {
        text: "Go to the homepage",
        href: "/",
      },
      {
        text: "Learn about Hack Club",
        href: "https://hackclub.com",
      },
      {
        text: "View our source code",
        href: "https://github.com/hackclub/newspaper",
      },
      {
        text: "Join the Slack",
        href: "https://hackclub.com/slack",
      },
    ],
  },
  {
    title: "Socials",
    links: [
      {
        text: "Twitter",
        href: "https://twitter.com/hackclub",
      },
      {
        text: "Instagram",
        href: "https://www.instagram.com/hackclub",
      },
    ],
  },
  {
    title: "Contact Us",
    links: [
      {
        text: "Email",
        href: "mailto:newspaper@hackclub.com",
      },
    ],
  },
];
---

<footer class="pt-4 pb-16 px-8 flex flex-1 bg-crust">
  <div class="flex-1 py-6 px-6 sm:px-8 w-full max-w-4xl mx-auto">
    <div class="max-w-none text-muted">
      <p class="text-[16px] mb-8">
        The Hacker Press is a newspaper built by teens at Hack Club.<br
        />Everything we do is open source, down to our website.
      </p>

      <div class="flex flex-col sm:flex-row gap-17">
        {
          linkColumns.map((column) => (
            <div>
              <h3 class="text-[#a7ef5f] uppercase text-sm font-bold font-instrument mb-4">
                {column.title}
              </h3>
              <ul class="space-y-2">
                {column.links.map((link) => (
                  <li>
                    <a
                      href="https://twitter.com/hackclub"
                      class="flex items-center text-2xl !text-muted"
                    >
                      <ArrowRight class="w-4 h-4 mr-4" />
                      {link.text}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <div class="mt-8">
      <p class="text-sm text-muted">
        © The Hack Foundation 2025<br />
        Licensed under the WTFPL. <a href="/license" class="underline"
          >Find out what you can do with our website and content</a
        >
      </p>
    </div>
  </div>
</footer>
