---
import ArrowRight from "@assets/arrow-right.svg";
import HcFlag from "@assets/hc-flag-white.svg";
import { Image } from "astro:assets";

const linkColumns = [
  {
    title: "Links",
    links: [
      {
        text: "Learn about Hack Club",
        href: "https://hackclub.com",
      },
      {
        text: "View our source code",
        href: "https://github.com/hackclub/newspaper",
      },
      {
        text: "Join the community Slack",
        href: "https://hackclub.com/slack?reason=Hack%20Club's%20Newspaper",
      },
    ],
  },
  {
    title: "Hack Club's Socials",
    links: [
      {
        text: "X/Twitter",
        href: "https://x.com/hackclub",
      },
      {
        text: "Instagram",
        href: "https://www.instagram.com/hackclub",
      },
    ],
  },
  {
    title: "",
    links: [
      {
        text: "Email us",
        href: "mailto:newspaper@hackclub.com",
      },
    ],
  },
];
---

<footer class="flex px-4 py-6 md:px-30 bg-crust">
  <h3 class="text-accent-orange-orangeed writing-lr text-right mr-3">The Hacker Press</h3>
  <div class="w-full max-w-4xl">
    <div class="max-w-none text-muted">
      <p class="text-base mb-10 sm:mb-4">
        The Hacker Press is an online newsletter built by teens at Hack Club.
      </p>

      <div class="flex flex-col sm:flex-row gap-8 sm:gap-17">
        {
          linkColumns.map((column) => (
            <div>
              {column.title ? (
               <h3 class="text-[#a7ef5f] uppercase text-xs font-bold font-instrument mb-2">{column.title}</h3>
              ) : (
                <Image src={HcFlag} alt="Hack Club flag logo" class="w-28 mb-4" />
              )}
              <ul class="space-y-2">
                {column.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="flex items-center !text-muted text-base"
                    >
                      <ArrowRight class="w-4 h-4 mr-4" />
                      {link.text}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <div class="mt-8">
      <p class="text-muted [&_a]:text-accent">
        The code for this website is licensed under the <a
          href="https://github.com/hackclub/newspaper/blob/main/LICENSE.md"
          target="_blank"
          class="underline">MIT License</a
        >. Article text is licensed under <a
          href="https://creativecommons.org/licenses/by-sa/4.0/deed.en"
          target="_blank"
          class="underline">CC BY-SA 4.0</a
        >. <br />
        © {new Date().getFullYear()}
        <a href="https://hackclub.com" class="underline" target="_blank"
          >Hack Club</a
        >, a 501(c)(3) nonprofit (EIN: 81-2908499)
      </p>
    </div>
  </div>
</footer>
