---
import Layout from "@layouts/layout.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<Layout>
  <div class="flex flex-col min-h-screen text-text">
    <header class="bg-mantle w-full px-6 py-4 fixed top-0 z-50">
      <nav class="max-w-7xl mx-auto flex justify-end items-center space-x-8">
        <a href="/" class="text-text hover:text-accent transition-colors"
          >Home</a
        >
        <a
          href="/archives"
          class="text-text hover:text-accent transition-colors">The Archives</a
        >
        <a href="/roundup" class="text-text hover:text-accent transition-colors"
          >Weekly Roundup</a
        >
        <a
          href="/newsletter"
          class="text-text hover:text-accent transition-colors">Newsletter</a
        >
      </nav>
    </header>

    <div class="flex min-h-screen mt-16">
      <div class="flex flex-1">
        <article class="w-full mx-auto">
          <div
            class="w-full py-8 mx-auto bg-crust text-white p-6 sm:p-8 overflow-y-auto"
          >
            <h1
              class="text-4xl sm:text-5xl/[130%] font-bold text-accent mb-6 w-full max-w-4xl mx-auto"
            >
              {post.data.properties.Name}
            </h1>

            <section class="mb-8 w-full max-w-4xl mx-auto">
              <p class="text-lg sm:text-2xl">
                {post.data.properties.Description}
              </p>
            </section>
          </div>

          <main class="flex-1 p-6 sm:p-8 overflow-y-auto max-w-4xl mx-auto">
            <div class="prose prose-invert max-w-none lg:prose-lg text-text">
              <slot />
            </div>
          </main>
        </article>
      </div>
    </div>
  </div>
</Layout>
